# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

smart_contract/node_modules
smart_contract/.env
smart_contract/coverage
coverage
smart_contract/coverage.json
coverage.json
smart_contract/typechain
typechain

#Hardhat files
smart_contract/cache
smart_contract/artifacts


# Editor directories and files
client/.vscode/*
!client/.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
